
@{
    ViewData["Title"] = "Result";
}

@model Movie


    <p>@Model.Title has been registered!</p>


<h1>Result</h1>

<h3>@Model.Title</h3>
<h3>@Model.Genre</h3>
<h3>@Model.ID</h3>
<h3>@Model.Year</h3>
<h3>@Model.Directors</h3>
<h3>@Model.Actors</h3>